# project
.checkstyle

# IntelliJ
*.iml
.idea

# build outputs
target
bin
out
classes
tmp
gwt-unitCache
.gwt-log

# eclipse
.project
.settings
.classpath
.metadata
.springBeans

# MaxOSX
.DS_Store
/code-coverage